<div class="container">
    <h1>Samples Data</h1>
    <div class="row">
        <div class=" col-sm-9  panel panel-info">
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-9" data-toggle="tooltip" title="Get All Samples.">All Samples</label>
                    <div class="col-sm-9">
                        <input  type="button" value="Get All Samples" (click)="getSamples()" />
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-sm-9  panel panel-info">
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-9 control-label" data-toggle="tooltip" title="Filter by name">Name</label>
                    <div>
                        <input class="form-control" type="text" id="Name" placeholder="John" [(ngModel)]="searchName" />
                        <input type="button" value="Get Samples by User" (click)="getSamplesByName(searchName)" />
                    </div>
                </div>
            </div>
        </div>

        <div class=" col-sm-9  panel panel-info">
            <div class="panel-body">
                <div *ngIf="statuses" class="form-group">
                    <label class="col-sm-9 control-label"    data-toggle="tooltip" title="Filter by Status">Status</label>
                    <div>
                        <select class="form-control" [(ngModel)]="selectedStatus">
                            <option *ngFor="let st of statuses" [value]="st.status">
                                {{st.status}}
                            </option>
                        </select>
                        <input type="button" value="Get Samples by Status" (click)="getSamplesByStatus(selectedStatus)" />
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div *ngIf="samples" class='container-fluid'>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Sample Id</th>
                        <th>Barcode</th>
                        <th>create dAt</th>
                        <th>created By</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let sample of samples">
                        <td>{{sample.sampleId}}</td>
                        <td>{{sample.barcode}}</td>
                        <td>{{sample.createdAt | date: 'yyyy-MM-dd'}}</td>
                        <td>{{sample.userId}}</td>
                        <td>{{sample.user.firstName}}</td>
                        <td>{{sample.user.lastName}}</td>
                        <td>{{sample.status.status}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>